.header {
  position: fixed;
  left: 0;
  width: 100%;
  color: #e5e5e5;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 10%, transparent);
  z-index: 1;
  font-size: 14px;
  .header-section {
    .left-side {
      display: flex;
      gap: 50px;
      align-items: center;
    }
    .netflix-logo {
      width: auto;
      height: auto;
      a {
        display: block;
        img {
          width: 90px;
          max-height: 90px;
          object-fit: cover;
        }
      }
    }
    .nav-bar {
      .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .nav-list-item{
            cursor: pointer;
           a{
            color: #e5e5e5;
           }
        }
      }
    }
  }
}
